    <aside class="sidebar bg-dark text-white p-4 shadow-lg flex-shrink-0" id="sidebar">
        <button id="sidebar-toggle" class="btn btn-sm btn-outline-secondary white width50 whiteborder">&#8592; X </button>
        <h2 class="h5 text-uppercase border-bottom border-secondary pb-3 mb-4 fw-bold text-danger">Node JS Demo</h2>
        <%- include('../includes/nav') %>
    </aside>