<%- layout('superadmin/layout/main') %>
<div class="container mt-2 col-12">
  <h3 class="mb-2">Categories</h3>

<% if (success.length > 0) { %>
  <div class="alert alert-success" style="white-space: pre-line;"><%= success %></div>
<% } %>
<% if (error.length > 0) { %>
  <div class="alert alert-danger" style="white-space: pre-line;"><%= error %></div>
<% } %>

  <!-- Search + Filters -->
  <div class="row mb-2">
    <div class="col-md-6">
      <input type="text" id="searchInput" 
             class="form-control maxwidth300" 
             placeholder="Search categories..."
             >
    </div>

    <div class="col-md-4 d-flex align-items-center">
      <a href="/superadmin/cats/create" 
        class="btn btn-sm btn-success ms-2">
        ➕ Add Category
      </a>
    </div>

    <div class="col-md-2">
      <select id="rowsPerPage" class="form-select">
        <option value="2">2 rows</option>
        <option value="5" selected >5 rows</option>
        <option value="10">10 rows</option>
        <option value="25">25 rows</option>
        <option value="50">50 rows</option>
      </select>
    </div>
  </div>

  <!-- Table -->
  <table id="catsTable" class="table table-striped table-bordered">
    <thead>
      <tr>

      <th>
        <input type="checkbox" id="selectAll">
        <button id="inverseSelection" class="btn btn-sm btn-secondary ms-2">Inverse</button>
      </th>


        <th data-field="id" data-label="ID">
        <span class="label cursor">ID</span> <span class="arrow cursor">⇅</span>
        </th>
        <th data-field="name" data-label="Name">
          <span class="label cursor">Name</span> <span class="arrow cursor">⇅</span>
        </th>
        <th data-field="filer">File</th>
        <th data-field="img">Image</th>
        <th data-field="createdAt">Created At</th>
        <th data-field="action">Actions</th>
      </tr>
    </thead>
    <tbody>
      <!-- rows injected via JS -->
    </tbody>
    

  </table>
  <div class="d-flex justify-content-center mb-2">
    <button id="bulkDeleteBtn" class="btn btn-danger" style="display:none;">
      Bulk Delete
    </button>
  </div>
  <!-- Pagination -->
  <nav>
    <ul id="pagination" class="pagination justify-content-center"></ul>
  </nav>
</div>



<%- include('script/view') %>


